body{
  width: 100vw;
  height: 100vh;
}

.musa a{
  background-color: rgb(6, 65, 6);
  color: white;
  border-radius: 3px;
  font-weight: 600;
}
.musa a:nth-child(2){
  background-color: rgb(8, 8, 85);
  color: white;
}
.musa a:hover{
  color: rgb(6, 65, 6);
  background-color: white;
  border: 1px solid rgb(6, 65, 6);
}
.musa a:nth-child(2):hover{
  color: rgb(8, 8, 85);
  background-color: white;
  border: 1px solid rgb(8, 8, 85);
}