.new_container{
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 400px;
  gap: 3rem;
}
.new_form{
  /* flex: 1; */
}
.new_form .actions{
  margin-top: 5px;
}
.new_form .actions input{
  background-color: green;
  border: none;
  color: white;
  padding: 0.2rem 0.5rem;
  border-radius: 3px;
}
.new_image{
  /* flex: 1; */
}
.new_image img{
  width: 100%;
  height: 400px;
  object-fit: cover;
}